*,
html,
body,
h1,
header,
section {
    padding: 0;
    margin: 0;
}

/* body {
    position: absolute; - 아직 고정시키지 않기 위해 주석처리함 
    width: 1920px;
    height: 900px;
    left: 0px;
    top: 2px;
} */

header {
    /* ul태그의 배치를 위해서 position: absolute;를 삭제하고 flex를 주고 margin top으로 정렬을 완성함/ 왜 이렇게 된 건지는 공부 필요함 */
    display: flex;
    align-content: center; 
    width: 1920px;
    height: 102px;
    left: 0px;
    background: #F2E9D8;
}

img {
    width: 130px;
    height: 40px;
    margin-top: 31px;
    margin-left: 320px;
}

/*list의 점 안보이게 하기 위해 작성한 코드*/
li {
    list-style: none;
}

/*li 위아래가 아닌 좌우로 보이기 하기 위해 작성한 코드*/
ul {
    position: absolute;
    display: flex;
    justify-content: center;
    /*justify-content를 이용해서 좌우로 나타나도록 작성함*/
    gap: 30px;
    margin-left: 1206px;
    margin-top: 41px;
}

button {
    position: absolute;
    width: 140px;
    height: 50px;
    left: 1460px;
    top: 26px;
    background: #D97652;
    border: 0;
    border-radius: 40px;
    position: absolute;
    color: white;
    /* font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700; */
    font-size: 16px;
}

.main h2 {
    position: absolute;
    width: 737px;
    height: 120px;
    left: 320px;
    top: 304px;

    font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;

    color: #000000;
}

.maindownload {
    position: absolute;
    width: 140px;
    height: 50px;
    background: #D97652;
    border: 0;
    border-radius: 40px;
    position: absolute;
    color: white;
    /* font-family: 'Spoqa Han Sans Neo';
    font-style: normal;
    font-weight: 700; */
    font-size: 16px;
}

.main img { /*이미지 고정 */
    position: absolute;
    width: 415px;
    height: 890px;
    left: 0px;
    top: 0px;
}

/* .center {
    position: absolute;
    width: 660px;
    height: 390px;
    left: 320px;
    top: 1060px;
} */

.emphasis {
    position: absolute;
    width: 929px;
    height: 60px;
    left: 496px;
    top: 1570px;
    font-size: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D97652;
}

.middle {
    display: flex;
}

.middle img {
    width: 660px;
    height: 390px;
    border-radius: 25px;
}

.middle h2 {
    display: flex;
    word-wrap: break-word;
    margin: 10px
}

.middle p {
    display: flex;
    word-wrap: break-word;
    margin: 10px
}

.card img {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    margin: 72px;
}
