body {
    background: rgb(117, 123, 178);
}

h2,
p {
    margin: 0;
}

input {
    background-color: rgb(74, 113, 243);
    margin: 10px;
    border: 0;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

input::placeholder {
    display: flex;
    justify-content: center;
    text-align: center;
    color:#fff;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    background-color: rgb(74, 113, 243);
    margin: 10px;
    border: 0;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.card-item a {
    text-decoration: none;
    color: #29363d;
    display: block;
    width: 1000px;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.card-item img {
    width: 100%;
    height: 100%;
    aspect-ratio: 288/196;
    object-fit: cover;
    vertical-align: top;
}

.card-text {
    padding: 24px 16px 16px;
}

.card-text .title {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text .title+p {
    font-size: 12px;
    color: #5a6a72;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    margin: 12px 0 16px;
    line-height: 20px;
    height: 40px;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    padding-left: 6px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 24px;
    width: min(1224px, 100% - 60px);
    margin: auto;
}

.container article {
    width: calc((100% - (24px * 3)) / 4);
}

@media (min-width: 641px) and (max-width: 1024px) {
    .container article {
        width: calc((100% - (24px * 2)) / 3);
    }
}

@media (min-width: 501px) and (max-width: 640px) {
    .container article {
        width: calc((100% - 24px) / 2);
    }
}

@media (max-width: 500px) {
    .container article {
        width: 100%;
    }
}

/* ν™•μΈν•„μ” */
/* .container article {
    flex-basis: 288px;
    flex-grow: 0;
    flex-shrink: 0;
  } */